pkgbase = encre
	pkgdesc = Fast, minimal Markdown note-taking app
	pkgver = 0.1.1
	pkgrel = 1
	url = https://github.com/alarboulletmarin/encre
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = cargo
	makedepends = fontconfig
	makedepends = freetype2
	depends = libxcb
	depends = libxkbcommon
	depends = libxkbcommon-x11
	depends = wayland
	depends = vulkan-icd-loader
	optdepends = vulkan-driver: a Vulkan driver for your GPU is required to open the window
	options = !debug
	source = encre-0.1.1.tar.gz::https://github.com/alarboulletmarin/encre/archive/refs/tags/v0.1.1.tar.gz
	sha256sums = 490e535e538adc73c9f1965ae25bb25b264ed511b9b9ef2d76c1970648829dc2

pkgname = encre
