pkgbase = bref
	pkgdesc = Fast, minimal Markdown note-taking app
	pkgver = 0.2.2
	pkgrel = 1
	url = https://github.com/alarboulletmarin/bref
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = cargo
	makedepends = fontconfig
	makedepends = freetype2
	depends = libxcb
	depends = libxkbcommon
	depends = libxkbcommon-x11
	depends = wayland
	depends = vulkan-icd-loader
	optdepends = vulkan-driver: a Vulkan driver for your GPU is required to open the window
	conflicts = encre
	replaces = encre
	options = !debug
	source = bref-0.2.2.tar.gz::https://github.com/alarboulletmarin/bref/archive/refs/tags/v0.2.2.tar.gz
	sha256sums = 4142a96e658a25d5b2221e5ddefe34671b3d4344bd26c3ea39e1ef061f3886e3

pkgname = bref
