pkgbase = encre
	pkgdesc = Fast, minimal Markdown note-taking app
	pkgver = 0.1.3
	pkgrel = 1
	url = https://github.com/alarboulletmarin/encre
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = cargo
	makedepends = fontconfig
	makedepends = freetype2
	depends = libxcb
	depends = libxkbcommon
	depends = libxkbcommon-x11
	depends = wayland
	depends = vulkan-icd-loader
	optdepends = vulkan-driver: a Vulkan driver for your GPU is required to open the window
	options = !debug
	source = encre-0.1.3.tar.gz::https://github.com/alarboulletmarin/encre/archive/refs/tags/v0.1.3.tar.gz
	sha256sums = 557d2be1e871763905d15b261d5dff3575537cafe7f512c30f923dd8fc87cdff

pkgname = encre
